*.safetensors filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
models/trained_nfr_level_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/trained_nfr_type_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
