# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Uploads
uploads/

# Trained ML models
models/trained_nfr_level_model/
models/trained_nfr_type_model/
models/trained_nfr_binary_model/

results/checkpoint-500
results_binary/checkpoint-500

data/outputs